[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
null = "*"
selenium = "*"
pyasn1 = "*"
requests = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.9"
